<div class="container registration-wrapper">
  <form>
    <div class="row">
      <div class="col-md-2 col-md-offset-4 col-sm-4 col-sm-offset-2">
        <h4>Register</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-4 col-sm-4 col-sm-offset-2">
        <div ng-class="{'has-error': vm.requiredIsEmpty}" class="form-group">
          <input ng-model="vm.register.firstName" type="text" class="form-control" placeholder="First Name">
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div ng-class="{'has-error': vm.requiredIsEmpty}" class="form-group">
          <input ng-model="vm.register.lastName" type="text" class="form-control" placeholder="Last Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <div ng-class="{'has-error': vm.requiredIsEmpty}" class="form-group">
          <input ng-model="vm.register.email" type="email" class="form-control" placeholder="Email Address">
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <div ng-class="{'has-error': vm.requiredIsEmpty}" class="form-group">
          <input ng-model="vm.register.password" type="password" class="form-control" placeholder="Password">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <div ng-class="{'has-error': vm.requiredIsEmpty}" class="form-group">
          <input ng-model="vm.register.confirmPassword" type="password" class="form-control" placeholder="Confirm password">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <label>
          <input ng-checked="vm.register.agree" ng-click="vm.register.agree = !vm.register.agree" type="checkbox" name="quux[1]">
          <small>I agree to the terms of use</small>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a ng-click="vm.registerUser()" class="btn btn-success">Register</a>
      </div>
    </div>
  </form>
</div>
