<div class="modal fade" id="new-list" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Create a New List</h3>
      </div>
      <div class="modal-body">
        <h5>What type of list is this?</h5>
        <div class="row">
          <div class="col-md-6 col-sm-6 text-center">
            <a ng-click="modalSelected = 0" ng-class="{selected: modalSelected === 0}" class="btn btn-default full-width">
              <i class="fa fa-youtube-play fa-2" aria-hidden="true"></i>
              Movies</a>
          </div>
          <div class="col-md-6 col-sm-6 text-center">
            <a ng-click="modalSelected = 1" ng-class="{selected: modalSelected === 1}" class="btn btn-default full-width">
              <i class="fa fa-cutlery fa-2" aria-hidden="true"></i>
              Food & Drink</a>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" placeholder="List Title">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description" class="form-control" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Create List</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
