<nav ng-controller="NavCtrl" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="brand">
        <a href="#menu-toggle" id="menu-toggle" class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></a>
      </div>
    </div>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group inner-addon left-addon">
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
  </div>
</nav>
