<ng-include src="'/views/partials/nav.html'"></ng-include>
<div class="home-wrapper" id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav menu-group">
      <li ng-click="selectedCategory=0" ng-class="{active: selectedCategory === 0}" class="menu-item">
        <i class="fa fa-youtube-play fa-2" aria-hidden="true"></i>
        <span>Movies</span>
      </li>
      <li ng-click="selectedCategory=1" ng-class="{active: selectedCategory === 1}" class="menu-item">
        <i class="fa fa-cutlery fa-2" aria-hidden="true"></i>
          <span>Food & Drink</span>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="add-list">

          <a ng-click="openNewListModal()" class="thumbnail text-center">
            <h1>Add List</h1>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<ng-include src="'/views/modals/newList.modal.html'"></ng-include>
<!-- <div class="container-fluid home-wrapper">
  <div class="row">
    <div class="col-md-3 col-sm-4 sidebar">
      <ul class="menu-group">
        <li class="menu-item active">
          <i class="fa fa-youtube-play fa-2" aria-hidden="true"></i>
          <span>Movies</span>
        </li>
        <li class="menu-item">
          <i class="fa fa-cutlery fa-2" aria-hidden="true"></i>
          <span>Food & Drink</span>
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-8">
      <div class="row">
        <div class="col-md-4 col-sm-4">

          <a href="#" class="thumbnail text-center">
            <h3>Add List</h3>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->
