.home-wrapper {
    .glyphicon {
        font-size: 30px;
    }
    .thumbnail {
        padding-bottom: 35px;
    }
    .add-list {
      width: 250px;
    }
    .sidebar {
        background: $medium-grey;
        height: 100vh;
        margin-top: -20px;
        .menu-group {
            padding-top: 50px;
            list-style-type: none;
            .menu-item {
                cursor: pointer;
                padding: 10px;
                width: 90%;
                padding-left: 20px;
                border-bottom: 2px solid $grey;
                span {
                    position: relative;
                    top: -5px;
                    font-weight: 500;
                }
            }
            .menu-item.active {
                background: #E6E9ED;
                border-radius: 4px;
                border: none;
            }
        }
    }
}
