.list-wrapper {
  min-height: 200vh;
  .inline-list li {
    padding: 30px;
    font-weight: 500;
  }
  .inline-list li.active {
    border-bottom: 2px solid #3BAFDA;
  }
  .media li {
    display: inline-block;
    padding: 2px;
  }

  .list-item {
    border-top: 2px solid grey;
    width: 99.5%;
    margin: auto;
    margin-top: 15px;
    padding-top:10px;
    margin-bottom: 15px;
    padding-bottom:10px;
  }
  #page-content-wrapper {
    margin-top: 20px;
  }

  .menu-group.secondary {
    margin-top: 50px;
    float: left;
  }
}
