.navbar-default {
    background: $dark-grey;
    border-color: $dark-grey;
    .toggle-btn {
      margin-top: 10px;
      color:currentColor;
    }
    input {
        background: $dark-grey;
        border-color: $dark-grey;
        color: $light-grey;
        &:focus {
            border-color: $dark-grey;
        }
    }
    .glyphicon {
        color: $light-grey;
    }
}
form {
    .form-group {
        input {
            border-radius: 0;
        }
        ::-webkit-input-placeholder {
            color: $medium-grey;
        }
        ::-moz-placeholder {
            color: $medium-grey;
        }
        :-ms-input-placeholder {
            color: $medium-grey;
        }
        :-moz-placeholder {
            color: $medium-grey;
        }
    }
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}
/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
/* align icon */
.left-addon .glyphicon {
    left: 0;
    top: -10px;
}
.right-addon .glyphicon {
    right: 0;
}
/* add padding  */
.left-addon input {
    padding-left: 30px;
}
.right-addon input {
    padding-right: 30px;
}
.thumbnail {
    color: $black;
    &:hover {
        color: $black;
    }
    &:active {
        color: $black;
    }
    &:focus {
        color: $black;
    }
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none !important;
}

#page-content-wrapper {
  margin-top: 40px;
}
