.fa-2 {
  font-size: 2em;
}

.full-width {
  width: 100%;
}

.btn-default.selected {
  background: #ccd1d9;
}

.inline-list li {
  display: inline-block;
}

.sky-blue {
  color: $sky-blue;
}

h4 > small {
  color: $black;
}

ul.col-2 {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

div.half-wide {
  width:50%;
  float: left
}
