<ng-include src="'/views/partials/nav.html'"></ng-include>
<div class="list-wrapper" id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <div class="sidebar-nav menu-group text-center">
      <a class="btn btn-default">+ New List</a>
    </div>
    <div class="menu-group text-center secondary">
      <h4>Availability
        <small>Select All | Deselect</small>
      </h4>
      <div class="checkbox">
        <label><input type="checkbox" value="">Netflix</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Amazon</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Amazon Prime</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">HBO GO</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Itunes</label>
      </div>
    </div>

    <div class="menu-group text-center">
      <h4>Genre
        <small>Select All | Deselect</small>
      </h4>
      <div>
        <div class="half-wide inline-block">
          <ul>
            <li class="checkbox">
              <label><input type="checkbox" value="">Action</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Adventure</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Animation</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Biography</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Comedy</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Crime</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Documentary</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Drama</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Family</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Film Noir</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Gay & Lesbian</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">History</label>
            </li>
          </ul>
        </div>
        <div class="half-wide inline-block">
          <ul>
            <li class="checkbox">
              <label><input type="checkbox" value="">Horror</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Music</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Musical</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Mystery</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Romance</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Sci-Fi</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Sport</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Stand-Up</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Thriller</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">War</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">Western</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" value="">-</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="full-width">
        <h4>History
        </h4>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <ul class="inline-list">
          <li ng-click="listType = 0" ng-class="{active: listType === 0}">Movies</li>
          <li ng-click="listType = 1" ng-class="{active: listType === 1}">Food & Drink</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Favorite Action Movies</h3>
          <p>
            From all time. Everything including Die Hard and The Dark Knight.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-default full-width">+ Add Item</a>
        </div>
      </div>
      <div ng-repeat="item in items track by $index" class="row list-item">
        <div class="col-md-4">
          <h5>
            {{item.title}}
          </h5>
        </div>
        <div class="col-md-3">
          <ul class="media">
            <li ng-repeat="media in item.media">
              {{media.type}}
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <p>
            Rotten Tomatoes
          </p>
          <p>
            IMDB
          </p>
          <p class="sky-blue">
            {{item.user}}'s Score
          </p>
          <button placement={{placement.selected}} uib-popover-html="'<b>HTML</b>, <i>inline</i>'" class="btn btn-default">HTML Popover (inline)</button>
        </div>
        <div class="col-md-2">
          <p>
            {{item.tomatoScore}}
          </p>
          <p>
            {{item.IMDBScore}}
          </p>
          <p class="sky-blue">
            {{item.userScore}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<ng-include src="'/views/modals/newList.modal.html'"></ng-include>
<!-- <div class="container-fluid home-wrapper">
  <div class="row">
    <div class="col-md-3 col-sm-4 sidebar">
      <ul class="menu-group">
        <li class="menu-item active">
          <i class="fa fa-youtube-play fa-2" aria-hidden="true"></i>
          <span>Movies</span>
        </li>
        <li class="menu-item">
          <i class="fa fa-cutlery fa-2" aria-hidden="true"></i>
          <span>Food & Drink</span>
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-8">
      <div class="row">
        <div class="col-md-4 col-sm-4">

          <a href="#" class="thumbnail text-center">
            <h3>Add List</h3>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->
